In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import k_means
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

In [2]:
dados = pd.DataFrame({
    'Símbolo':["AAPL","Google","MSFT","AMZN","TSLA","FB"],
    'Preço':[150.12,2700.45,300.89,3200.10,700.78,350.40],
    'Volume de negociação':[3000000,1000000, 2500000,  1200000,5000000,900000 ],
    'Capitalização de mercado':[2000000000000, 1800000000000,2200000000000 ,1700000000000,750000000000 , 
                                900000000000   ]

})

In [3]:
dados.head()

  Símbolo    Preço  Volume de negociação  Capitalização de mercado
0    AAPL   150.12               3000000             2000000000000
1  Google  2700.45               1000000             1800000000000
2    MSFT   300.89               2500000             2200000000000
3    AMZN  3200.10               1200000             1700000000000
4    TSLA   700.78               5000000              750000000000